@using KidKinder.Models.Entities
@model List<ClassRoom>

@{ ViewBag.Title = "DetailClasses";
                Layout = "~/Views/AdminLayout/Index.cshtml"; }

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card shadow">
                    <div class="card-header bg-black text-white">
                        <h5 class="m-0" style="font-size: 1.5rem;">Sınıf Listesi</h5>
                        <span style="font-size: 1.2rem;">.</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option" style="font-size: 1.2rem;">
                                <li><i class="fas fa-wrench text-white"></i></li>
                                <li><i class="fas fa-expand text-white"></i></li>
                                <li><i class="fas fa-compress text-white"></i></li>
                                <li><i class="fas fa-sync text-white"></i></li>
                                <li><i class="fas fa-times text-white"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th style="font-size: 1.2rem;">Başlık</th>
                                        <th style="font-size: 1.2rem;">Açıklama</th>
                                        <th style="font-size: 1.2rem;">Yaş Aralığı</th>
                                        <th style="font-size: 1.2rem;">Toplam Ders</th>
                                        <th style="font-size: 1.2rem;">Ders Saati</th>
                                        <th style="font-size: 1.2rem;">Ücret</th>
                                        <th style="font-size: 1.2rem;">Resim</th>
                                        <th style="font-size: 1.2rem;">Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="font-size: 1.1rem;">@item.Title</td>
                                            <td style="font-size: 1.1rem;">@item.Description</td>
                                            <td style="font-size: 1.1rem;">@item.AgeOfKids</td>
                                            <td style="font-size: 1.1rem;">@item.TotalSeat</td>
                                            <td style="font-size: 1.1rem;">@item.ClassTime</td>
                                            <td style="font-size: 1.1rem;">@item.Price</td>
                                            <td><img src=@item.ImageUrl class="img-fluid" style="width:100px; height:auto;" /></td>
                                            <td><a href="/Classes/BringClass/@item.ClassRoomId" class="btn btn-outline-warning btn-lg rounded-pill"><i class="fas fa-edit"></i> Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Classes/Index/" class="btn btn-outline-secondary btn-lg rounded-pill"><i class="fas fa-arrow-left"></i> Geri</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
